* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, transparent,
   rgba(145, 167, 145, 0.8)),
    url(bg-foto.jpg);
  height: 100vh;
  background-size: cover;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 400px;
  max-height: 500px;

  background-color: white;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
}

.form {
  text-align: center;
}
.form-title {
  margin-bottom: 1rem;
}
.form_message {
  color: red;
}
.form_input-error-message {
  color: red;
  text-align: left;
  font-size: 15px;
  margin-left: 10px;
}
.form_input-group {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.form-input {
  width: 100%;

  border-radius: 5px;
  outline: none;
  border: 2px solid #ddd;
  background-color: #eee;
  padding: 10px;
}
.form-input:focus {
  background-color: white;
}
.form-button {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  border: none;
  outline: none;
  background-color: rgb(59, 141, 59);
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.form-button:hover {
  background-color: burlywood;
}

.form-link {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.form-text {
  display: flex;
  justify-content: space-between;
}

.form-link:hover {
  color: green;
}

.form-text-register {
  margin: 1rem;
  text-align: left;
}
.pass {
  margin-top: 1rem;
}
